.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 5rem);
    justify-content: space-between;
    padding: 7rem 0rem 0rem 0rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
